<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>IMDB Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
<h1>IMDB Predictor</h1>
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{url_for('adventure')}}" method="post">
    	<input type="text" name="director_name" placeholder="Director Name" required="required" />
        <input type="text" name="actor1_name" placeholder="Lead Actor" required="required" />
		<input type="text" name="actor2_name" placeholder="Lead Actor 2" required="required" />
		
        

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

	 

 </div>

</body>


</html>